

body{

	background-color: black;

}



.testing{

	background-color:yellow;

}



.banner-img{

	padding-left: 10px;

		

}

.banner-div{

	/*background-color:#A93331;*/

	background-color:#337AB7;/*Changed the color to match text color*/

}



hr {

    border: none;

    height: 2px;

    /* Set the hr color */

    color: #F4D384; /* old IE */

    background-color: #F4D384; /* Modern Browsers */

    margin: none;

}



.building-img-row{

	margin-top: -20px;

}



.building-img{

	padding:7px;

}



.form-format{

	/*background-color: #A93331;*/

	background-color:#337AB7;/*Changed the color to match text color*/

	max-width: 816px; /* or 950px */

	margin-right: auto;

	margin-left: auto;

	padding-left: 10px;

	padding-right: 10px;

	padding-top: 5px;

}



.form-submit-btn{

	background-color: #D9B157;

	margin-top: 25px;

	margin-bottom: 10px;

	

}











/*trying something different */



  		/*  VIDEO PLAYER CONTAINER

 		############################### */

  		.vid-container {

		    position: relative;

		    padding-bottom: 52%;

		    padding-top: 30px; 

		    height: 0; 

		}

		 

		.vid-container iframe,

		.vid-container object,

		.vid-container embed {

		    position: absolute;

		    top: 0;

		    left: 0;

		    width: 100%;

		    height: 100%;

		}





		/*  VIDEOS PLAYLIST 

 		############################### */

		.vid-list-container {

			width: 92%;

			overflow: hidden;

			margin-top: 20px;

			margin-left:4%;

			padding-bottom: 20px;

		}



		.vid-list {

			width: 1344px;

			position: relative;

			top:0;

			left: 0;

		}



		.vid-item {

			display: block;

			width: 148px;

			height: 148px;

			float: left;

			margin: 0;

			padding: 10px;

		}



		.thumb {

			/*position: relative;*/

			overflow:hidden;

			height: 84px;

		}



		.thumb img {

			width: 100%;

			position: relative;

			top: -13px;

		}



		.vid-item .desc {

			color: #21A1D2;

			font-size: 15px;

			margin-top:5px;

		}



		.vid-item:hover {

			background: #eee;

			cursor: pointer;

		}



		.arrows {

			position:relative;

			width: 100%;

		}



		.arrow-left {

			color: #fff;

			position: absolute;

			background: #777;

			padding: 15px;

			left: -25px;

			top: -130px;

			z-index: 99;

			cursor: pointer;

		}



		.arrow-right {

			color: #fff;

			position: absolute;

			background: #777;

			padding: 15px;

			right: -25px;

			top: -130px;

			z-index:100;

			cursor: pointer;

		}



		.arrow-left:hover {

			background: #CC181E;

		}



		.arrow-right:hover {

			background: #CC181E;

		}





		@media (max-width: 624px) {

			body {

				margin: 15px;

			}

			.caption {

				margin-top: 40px;

			}

			.vid-list-container {

				padding-bottom: 20px;

			}



			/* reposition left/right arrows */

			.arrows {

				position:relative;

				margin: 0 auto;

				width:96px;

			}

			.arrow-left {

				left: 0;

				top: -17px;

			}



			.arrow-right {

				right: 0;

				top: -17px;

			}

		}





.banger-font{

	font-family: 'Bangers', cursive;

	font-size: medium|xx-small|x-small|small|large|x-large|xx-large|smaller|larger|length|initial|inherit;

}



.banger-large{

	color: #F4D384;

	font-size:xx-large;

}

